body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

p {
  margin: 0px;
  margin-bottom: 5px !important;
  padding-right: 12%;
}

.image {
  width: 60%;
  padding: 10px 0px;
  display: flex;
  margin: auto;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.mr-5 {
  margin-right: 5px;
}

.mt-2 {
  margin-top: 2px;
}

.ml-20 {
  margin-left: 20px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.m-20 {
  margin: 20px 0px;
}


@media (min-height: 768px) {
 .mobile {
   padding-left: 30px;
 }
}